In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("../csv/concat/personnage.csv")

In [17]:
df

,nom,dateOfBirth,placeOfBirthLabel,dateOfDeath,placeOfDeathLabel,positions,birthYear,deathYear
0,Simon de Dammartin,1180-01-01T00:00:00Z,NaN,1239-09-28T00:00:00Z,NaN,NaN,1180.0,1239.0
1,Guillaume Sanguin,NaN,NaN,1442-02-23T00:00:00Z,NaN,NaN,NaN,1442.0
2,Nicolas Dipre,1460-01-01T00:00:00Z,Paris,1532-01-01T00:00:00Z,Paris,NaN,1460.0,1532.0
3,Guillaume Cousinot le Chancelier,1350-01-01T00:00:00Z,NaN,NaN,NaN,NaN,1350.0,NaN
4,Jean Cousin,1401-01-01T00:00:00Z,NaN,1599-01-01T00:00:00Z,NaN,NaN,1401.0,1599.0
...,...,...,...,...,...,...,...,...
489,Guillaume de Saint-Pathus,1250-01-01T00:00:00Z,NaN,1315-01-01T00:00:00Z,NaN,NaN,1250.0,1315.0
490,Guy II de Nesle,1350-01-01T00:00:00Z,NaN,1352-08-14T00:00:00Z,Mauron,NaN,1350.0,1352.0
491,Charles de Villiers de L'Isle-Adam,1482-01-01T00:00:00Z,NaN,1535-09-26T00:00:00Z,Saint-Maximin,"évêque catholique, évêque diocésain, évêque de...",1482.0,1535.0
492,Guillaume de Clugny,NaN,NaN,1481-01-01T00:00:00Z,Tours,NaN,NaN,1481.0
493,Jean de La Barre,t1777096538,NaN,1534-03-01T00:00:00Z,NaN,NaN,NaN,1534.0

In [18]:
df.dtypes

nom                   object
dateOfBirth           object
placeOfBirthLabel     object
dateOfDeath           object
placeOfDeathLabel     object
positions             object
birthYear            float64
deathYear            float64
dtype: object

In [19]:
regex = r'^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$'

In [20]:
import dateutil.parser as dp

import re
match_iso8601 = re.compile(regex).match

def validate_iso8601_us(str_val):
    try:
        if match_iso8601( str_val ) is not None:
            return True
    except:
        pass
    return False

In [21]:
validate_iso8601_us("0153-12-23T00:00:00Z")

True

In [22]:
df['dateOfBirth'] = df['dateOfBirth'].map(lambda x: x if validate_iso8601_us(x) else None)
df['dateOfDeath'] = df['dateOfDeath'].map(lambda x: x if validate_iso8601_us(x) else None)

In [23]:
df.to_csv("../csv/concat/personnage.csv", index=False)